body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #555555;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    padding: 10px 20px;
}

.first-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
}

.Logo {
    font-family: 'Mongolian Baiti';
    font-size: 48px;
    margin-left: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
}

.navigation__box {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.navi {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}


.Choose__box {
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.Link__box {
    margin-right: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
}

.invite {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.invite:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.second-container {
    margin-top: 20px;
}

.Video__box {
    width: 100%;
    height: 400px;
    background-color: #f0f0f0;
}

.third-container {
    margin-top: 20px;
    display: flex;
}

.info-container, .chat-container {
    flex: 1;
    margin-right: 20px;
}
.info__title {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 60px;
    margin-bottom: 10px;
}
.sbs {
    margin-left: 20px;
    font-size: 30px;
}
.title-info {
    margin-bottom: 15px;
    font-size: 20px;
}
.subtitle-info {
    margin-top: 15px;
    font-size: 16px;
}
.slash {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
}
.info {
    display: flex;
    align-items: center;
}
.info::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #000;
    margin-right: 20px;
}

.Info__box {
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.Settings__box {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #777777;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.option .view-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.option .text {
    text-align: center;
    margin-bottom: 5px;
}

.option .type {
    width: calc(100% - 20px); /* Ширина поля ввода с учетом отступов */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

.option .type::placeholder {
    color: #999;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle input[type="checkbox"] {
    margin-right: 5px;
}

.view-img {
    height: 32px;
    width: auto;
}

.chat-container {
    width: 100%;
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера на странице */
    background-color: #f9f9f9; /* Цвет фона контейнера */
    border: 1px solid #ddd; /* Граница контейнера */
    border-radius: 8px; /* Скругление углов */
    padding: 20px; /* Внутренний отступ */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

.Chat__box {
    max-height: 400px; /* Максимальная высота блока чата, чтобы он не занимал слишком много места */
    overflow-y: auto; /* Включаем вертикальную прокрутку, если контент не помещается */
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    height: 400px;
}

.message {
    background-color: #fff; /* Цвет фона сообщения */
    border-radius: 8px; /* Скругление углов */
    padding: 10px; /* Внутренний отступ */
    margin-bottom: 10px; /* Отступ между сообщениями */
}

.message .sender {
    font-weight: bold; /* Жирный текст для имени отправителя */
    color: #333; /* Цвет имени отправителя */
}

.message .content {
    margin-top: 5px; /* Отступ между именем отправителя и текстом сообщения */
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

#messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#sendMessageBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sendMessageBtn:hover {
    background-color: #0056b3;
}




.footer__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.p-a-p {
    font-size: 16px;
}
.navigation {
    display: flex;
    justify-content: center;
}
.navigation a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
}
.navigation a:hover {
    text-decoration: underline;
}